<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
  
      <ion-title>Criação da planilha</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-input type="text" [(ngModel)]="planilha.name" placeholder="Nome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" [(ngModel)]="planilha.picture" placeholder="Foto"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" [(ngModel)]="planilha.valorBanca" placeholder="Banca Inicial"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" [(ngModel)]="planilha.porcentagemDia" placeholder="Meta diaria em %"></ion-input>
      </ion-item>
    </ion-list>
  </ion-content>
  
  <ion-footer>
    <ion-toolbar>
      <ion-button (click)="savePlanilha()" expand="block">
        Salvar produto
      </ion-button>
    </ion-toolbar>
  </ion-footer>