.contentall {
    width: 100%;
    height: 100%;
    padding-top:35%;
    background-image: url('/assets/img/negocios-ibovespa.png');
    transition: all 0.5s;
    //background: linear-gradient(197deg, #ffffff 0%, #ffffff 13.5%, #ebf8ff 33.33%, #bbafff 100%) !important;
}
.button-login{
    background: #aabbff!important;
    border-radius:8px;
}
.segment{
    padding-bottom: 10%;
    width: 80%;
    margin: 0 auto;
}