<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>planilha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="1">Dia</ion-col>
      <ion-col>B. Atual</ion-col>
      <ion-col>Juros dia</ion-col>
      <ion-col>Meta Dia</ion-col>
      <ion-col>Ganho</ion-col>
      <ion-col>G. em %</ion-col>
      <ion-col>B. Final</ion-col>
    </ion-row>
    
    <ion-row *ngFor="let planilhadetalhe of planilhadetalhes" [routerLink]="['/planilhadetalhe', planilhadetalhe.id, planilhadetalhe]" >
     
        <ion-col size="1">{{planilhadetalhe.dia}}</ion-col>
        <ion-col>{{planilhadetalhe.bancainicial | currency: 'BRL' }}</ion-col>
        <ion-col>3%</ion-col>
        <ion-col>{{35| currency: 'BRL' }}</ion-col>
        <ion-col>{{planilhadetalhe.ganho| currency: 'BRL' }}</ion-col>
        <ion-col>3,2%</ion-col>
        <ion-col>{{1183| currency: 'BRL' }}</ion-col>
     
    </ion-row>


  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button [routerLink]="['/planilhadetalhe/']" color="danger" expand="block">
            Sair
          </ion-button>
        </ion-col>

        <ion-col size="6">
          <ion-button [routerLink]="['/planilhadetalhe']" expand="block">
            Editar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>